body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e0e0e0;
}

.container {
    display: flex;
    width: 900px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left {
    width: 10%;
    background-color: #673ab7;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.left img {
    width: 80%;
    height: auto;
}

.left h2 {
    color: #333;
    margin: 20px 0 10px;
    font-size: 24px;
    text-align: center;
}

.left p {
    color: #777;
    text-align: center;
    line-height: 1.5;
}

.right {
    width: 500%;
    background-color: #683ab7;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 250px;
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    width: 80%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #333;
}

.login-form img {
    width: 150px;
    height: auto;
    display: block;
    margin: 0 auto 20px;
}

.login-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.form-group input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}

.form-inline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.buttons, #cadastrar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons button, #cadastrar {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #673ab7;
    color: white;
    cursor: pointer;
    flex: 1;
    margin: 0 5px;
}

.buttons button, #cadastrar:hover {
    background-color: #5c2cc8;
}

.esqueceu-senha {
    color: #673ab7;
    text-decoration: none;
}
#cadastrar{
    text-decoration: none;
    padding: 9px 17px;
}